<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit_Snippet</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <div>
      <h1>Edit your snippet</h1>
      {{#snippet}}
      <form action="/{{_id}}/edit/" method="POST" class="form" id="edit_form">
        <p>
          <label for="title">Title:</label>
          <input name="title" type="text" id="title" value="{{title}}" required unique: true/>
        </p>
        <p>
          <label for="language">Language:</label> You chose {{language}}. Do you need to reset the language?
          <p>
            <label for="reset">Yes</label>
            <input type="radio" name="reset" id="reset_yes"/>
            <label for="no_reset">  No</label>
            <input type="radio" name="reset" id="reset_no"/>
            <br>
        </p>
        <p>
          <textarea cols="50" rows="10" name="body" form="edit_form">{{body}}</textarea>
        </p>
        <p>
          <label for="notes">Notes:</label>
          <textarea cols="50" rows="10"  name="notes" form="edit_form">{{notes}}</textarea>
        </p>
        <p>
          <label for="tags">Tags:</label>
          <input type="text" name="tags" value="{{tags}}" />
        </p>
        <p>
          <button type="submit" form="edit_form">Update this snippet</button>
        </p>
      </form>
      {{/snippet}}
    </div>
    <script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
  </body>
</html>
