<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sort</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>

<body>
  <br />
  <div class="header_and_links">
    <h1 class="text-bold">All available snippets in:  {{language}}</h1>
    <form action="/new_snippet/" method="GET">
      <button class="button-sm button-secondary button-info">Add a new snippet</button>
    </form>
    <form action="/" method="GET">
      <button href='/' class="button-sm button-success">Home Page</button>
    </form>
  </div>
  <form action="/language/{{language}}" method="post" id="form_switch_language">
    <div class="dropdown_wrapper">
      <select name="language" type="text" form="form_switch_language" placeholder="Programming language" required>
        <option disabled selected value><em> -- Select another programming language -- </em></option>
        <option value="JavaScript">JavaScript</option>
        <option value="Java">Java</option>
        <option value="Python">Python</option>
        <option value="CSS">CSS</option>
        <option value="PHP">PHP</option>
        <option value="Ruby">Ruby</option>
        <option value="C++">C++</option>
      </select>
      <button type="submit">submit</button>
    </div>
    <br />
  </form>

  {{#snippet}}
    <div>
      <br />
      <h3>{{title}}</h3>
      <pre>{{body}}</pre>
      {{#notes}}
        <blockquote><strong>Notes: </strong>{{notes}}</blockquote>
      {{/notes}}
      <h3>Tags:
      {{#tags}}
        <a href="/tag/{{.}}">{{.}}</a></h3>*
      {{/tags}}
      <div class="snippet_highlights">
        <form action='/{{_id}}/edit/' method="GET">
          <button class="button-xs button-light">Edit this snippet</button>
        </form>
        <form action="/{{_id}}/delete" method="POST">
          <button id="delete" type="submit" class="button-warning button-xs">Delete this record</button>
        </form>
        </br>
      </div>
  {{/snippet}}
  </div>
  <script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
</body>

</html>
