<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <div>
      <fieldset>
      <form action='/login/' method="POST">
        <label name='email'>Email</label>
        <input name='email' type='email' />
        <label name='password'>Password</label>
        <input name='password' type='password' />
        <button type='submit' name='button'>Submit</button>
      </form>
    </fieldset>
    </div>

  </body>
</html>
