<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <div class="registration">
      <form action='/login/' method="POST">
        <label name='user_id'>User ID</label>
        <input name='user_id' type='text' />
        <label name='email'>Email</label>
        <input name='email' type='email' />
        <label name='password'>Password</label>
        <input name='password' type='password' />
        <button type='submit' name='button'>Submit</button>
      </form>
    </div>

  </body>
</html>
