<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <div class="registration">
      <fieldset>
        <form action='/register/' method="POST" id="register_form">
          <!-- <label name='user_id'>User ID</label>
          <input name='user_id' type='text' /> -->
          <label name='email'>Email</label>
          <input name='email' type='email' />
          <label name='password'>Password</label>
          <input name='password' type='password' />
          <br />
          <button type='submit' name='register' class="button-info" form="register_form">Register</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>
