fieldset{
  margin-top: 100px;
}

.two_buttons{
  display: flex;
  justify-content: space-around;
}

body{
  width: 80%;
  margin: auto;
}

p{
  font-size: 1.3rem;
}

.indent{
  text-indent: 50px;
}

.italics{
  font-style: italic;
}

.links{
  /*width: 60%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*#delete{
  background-color: red;
  border: red;
}*/
